<h1>Built-in Directive</h1>

<!-- NgStyle 시작-->
<u>= NgStyle =</u>
<div [style.font-size]="isSpecial ? 'x-large' : 'smaller'">
  This div is x-large or smaller.
</div>

<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>
<!-- NgStyle 끝 -->
<hr>

<!-- NgClass 시작-->
<u>= NgClass =</u>
<div [class.special]="isSpecial">
  The class binding is special
</div>

<div [ngClass]="currentClasses">
  This div is initially saveable, unchanged, and special
</div>
<!-- NgClass 끝 -->
<hr>

<!-- NgIf 시작 -->
<u>= NgIf =</u>
<div *ngIf="isActive">isActive is true</div>
<div *ngIf="!isActive">isActive is false</div>

<!-- if/else 구문 -->
<div *ngIf="isActive; else noSection">isActive is true</div>
<ng-template #noSection>
  <div>isActive is false</div>
</ng-template>
<!-- NgIf 끝 -->
<hr>

<!-- NgFor 시작 -->
<u>= NgFor =</u>
<ul>
  <li *ngFor="let library of JSlibraries; let i = index">
    {{ i }}. {{ library }}
  </li>
</ul>
<hr>
<!-- NgFor 끝 -->

<!-- NgSwitch 시작 -->
<u>= NgSwitch =</u>
<div [ngSwitch]="swtichFlag">
  <div *ngSwitchCase="'happy'">happy</div>
  <div *ngSwitchCase="'sad'">sad</div>
  <div *ngSwitchDefault>normal</div>
</div>
<!-- NgSwitch 시작 -->