
<!-- Routing Link -->
<ul>
  <li><a routerLink="databinding" [routerLinkActive]="['active']">Data Binding</a></li>
  <li><a routerLink="templateref" [routerLinkActive]="['active']">Template Ref</a></li>
  <li><a routerLink="viewchildref" [routerLinkActive]="['active']">ViewChild Ref</a></li>
  <li><a routerLink="contentchildref" [routerLinkActive]="['active']">ContentChild Ref</a></li>
  <li><a routerLink="directivebuiltin" [routerLinkActive]="['active']">Built-in Directive</a></li>
  <li><a routerLink="directivecustom" [routerLinkActive]="['active']">Custom Directive</a></li>
  <li><a routerLink="pipebuiltin" [routerLinkActive]="['active']">Built-in Pipe</a></li>
  <li><a routerLink="pipecustom" [routerLinkActive]="['active']">Custom Pipe</a></li>
  <li><a routerLink="service" [routerLinkActive]="['active']">Serivce & DI</a></li>
  <li><a routerLink="http" [routerLinkActive]="['active']">HTTP</a></li>
  <li><a routerLink="lifecycle" [routerLinkActive]="['active']">Lifecycle</a></li>

  <li><a [routerLink]="['navigation', 'myID', 'myName']" 
        [queryParams]="{pageNo: '1'}" fragment="loading"
        [routerLinkActive]="['active']">Routing & Navigation</a></li>

</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <!-- Routing 되는 뷰의 위치 -->
  <router-outlet></router-outlet>
</div>



